<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Cloud -->
      <package
            uri="http://cloud/1.0"
            class="it.polimi.modaclouds.resourcemodel.cloud.CloudPackage"
            genModel="model/Cloud.genmodel"/>
   </extension>

</plugin>
